.movie_list {
  width: fit-content;
  margin-bottom: 3rem;
  display: inline-grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 2rem;
  list-style: none;
}

.title {
  text-align: center;
  font-size: 2rem;
  margin: 5rem 0 2.5rem 0;
}

@media (width < 1680px) {
  .movie_list {
    grid-template-columns: repeat(6, 1fr);
  }
}

@media (width < 1550px) {
  .movie_list {
    grid-template-columns: repeat(5, 1fr);
  }
}

@media (width < 1280px) {
  .movie_list {
    gap: 1.5rem;
  }

  .title {
    margin: 3rem 0 2rem 0;
  }
}

@media (width < 1080px) {
  .movie_list {
    grid-template-columns: repeat(4, 1fr);
  }

  .title {
    font-size: 1.7rem;
  }
}

@media (width < 768px) {
  .movie_list {
    gap: 1.2rem;
  }

  .title {
    margin: 2rem 0 1rem 0;
    font-size: 1.5rem;
  }
}

@media (width < 576px) {
  .movie_list {
    grid-template-columns: repeat(3, 1fr);
  }

  .title {
    font-size: 1.2rem;
  }
}